.crx-class {
  color: pink;
}

.predicted-element {
  outline: thick solid #ea945c !important;
  outline-offset: -3px !important;
}

.hovered-element {
  outline: thick solid #0000ff !important;
  outline-offset: -3px !important;
}

.bot-container {
  bottom: 0;
  left: 0;
  transform: translateX(-50%);
}
