html,body{
  font-family: sans-serif;
}

.crx-class {
  color: pink;
}

.predicted-element {
  outline: thick solid #ea945c !important;
  outline-offset: -3px !important;

  &:hover {
    cursor: pointer !important;
    outline-color: #0000ff !important;
  }
}

.hovered-element {
  outline: thick solid #0000ff !important;
  outline-offset: -3px !important;
}

.selected-element {
  outline: thick solid greenyellow !important;
  outline-offset: -3px !important;
}
