.predicted-element {
  outline: thick solid #ea945c !important;
  outline-offset: -3px !important;
}

.hovered-element {
  outline: thick solid #0000ff !important;
  outline-offset: -3px !important;
}

.my-title {
  font-size: 5rem;
}
